#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.article-card {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card img {
  max-width: 100%;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header {
  padding: 10px;
  display: flex;
  position: relative;
  top: 0;
  margin-bottom: 2px;
  flex-direction: column;
  margin-bottom: 300px;
}

.articles-grid {
  border: soilid red;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: centre;
  gap: 10px;
  margin-top: -275px;
}

.logo-main {
  height: 90px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 5px;
}

.main-header {
  position: absolute;
  top: 0px;
  margin-left: 155px;
  margin-top: 30px;
}

.article-single {
  border: solid white;
  margin-bottom: 10px;
  margin-top: -250px;
  display: flex;
}

.votes-count-single {
  border: solid red;
}
